*.sdf
Debug
Release
Debug.win32
Release.win32
obj
DTAR_*
*.lib
*.dll
*.exe
*.pdb
*.db
proj.android
Resources
*.ttf
cocos2d
*.DS_Store
*.txt
*.suo
.vs/
.vscode/
cocos2d/cocos/2d/Debug.*/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.*/
cocos2d/external/Box2D/proj.win32/Debug.*/
cocos2d/external/recast/proj.win32/Debug.*/
cocos2d/cocos/2d/Release.*/
cocos2d/cocos/editor-support/spine/proj.win32/Release.*/
cocos2d/external/Box2D/proj.win32/Release.*/
cocos2d/external/recast/proj.win32/Release.*/
proj.win32/*.sdf
proj.win32/*.opensdf
proj.win32/Debug.*/
proj.win32/Release.*/
